body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%; /* Adjust this value to control the height of the parallax effect */
}

.parallax img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    background-color: #f4f4f4;
    padding: 20px;
    height: 100%;
}
.game-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.game-area {
    position: relative;
    width: 150px;  /* Adjust based on your footer's height and layout */
    height: 150px;
    overflow: hidden;
}

#customCharacter {
    position: absolute;
    width: 40px; /* Adjust based on your image size and how you want it to appear in the game area */
    display: none;
}

#score {
    margin-left: 20px;
    font-size: 16px;
}
